* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}

main {
    
    
}

.contenitore{
    height: 100vh;
    background-color: black;
    position: relative;

}

.contenitore .grid {
    width: 80%;
    
    margin-top: auto;
    margin-bottom: auto;
    padding-bottom: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

img{
    max-width: 100%;
    height: 100%;
}

.flex {
    display: flex;
}

.grid_container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    column-gap: 0.25rem;
    row-gap: 0.75rem;
}

img.profile{
    position:relative
}

.blocco_immagine{
    height: 100%;
    position: relative;
}

.info{
    background-color: rgba(220, 220, 220, 0.523);
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 0.2rem;
    display: flex;

}

#white{
    color: white;
    font-size: 0.50rem;
}

/* Seconda sezione main */

.call_view{
    position: absolute;
    top: 0;
    right: 0;
    
}

.call_view span{
    background-color:  rgba(220, 220, 220, 0.523);
    border-radius: 2px;
    color: white;
    font-size: 0.4rem;
    }
.first{
    padding: 2px 5px;
    margin-right: 5px;
    margin-top: 2px;
}
.chess{
    padding: 3px;
    margin-right: 2px;
    margin-top: 2px;
}
.clearfix{
    clear: both;
    content: "";
    display: table;
}

.actual_view{
    float: right;
    padding-left: 5px;
    font-weight: 300;
}

/* footer */

.barra{
    background-color: blue;
    height: 50px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;

}